<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.biscuit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".Emandi" />
        <activity android:name=".Mentors" />
        <activity android:name=".Schemes" />
        <activity android:name=".Volunteers" />
        <activity android:name=".Tips" />
        <activity android:name=".Weather" />
        <activity android:name=".Sugarcane" />
        <activity android:name=".Rice" />
        <activity android:name=".Cotton" />
        <activity android:name=".Wheat" />
        <activity android:name=".Banana" />
        <activity android:name=".Mango" />
        <activity android:name=".Volunteers2" />
        <activity android:name=".V_Search" />
        <activity android:name=".V_Generate" />
        <activity android:name=".V_Upload" />
        <activity android:name=".Certificate" />
        <activity android:name=".Visakhaptanam" />
        <activity android:name=".Buyer" />
        <activity android:name=".Farmer" />
        <activity android:name=".List" />
        <activity android:name=".Upload" />
        <activity android:name=".Geetha" />
        <activity android:name=".Joe" />
        <activity android:name=".Lav" />
        <activity android:name=".Kav" />
        <activity android:name=".Cherry" />
        <activity android:name=".CentralSchemes" />
        <activity android:name=".StateSchemes" />
        <activity android:name=".Cs1" />
        <activity android:name=".Cs2" />
        <activity android:name=".Cs3" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchFarmers" />
        <activity android:name=".Ss1" />
        <activity android:name=".Ss2" />
        <activity android:name=".Ss3" />
        <activity android:name=".Agriscientist" />
        <activity android:name=".Agristudent" />
        <activity android:name=".List2" />
        <activity android:name=".New" />
        <activity android:name=".TransportActivity" />
        <activity android:name=".Transport1Activity" />
        <activity android:name=".OrganicActivity"></activity>
    </application>

</manifest>